---
const { title } = Astro.props;

const site_title = 'WordPress Chat';
const page_title = ( title ? title+' - '+site_title : site_title );
---
<!-- meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content={Astro.generator} />

<!-- favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- title -->
<title>{page_title}</title>
